/*For resetting styles(provided by browser) at global level*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*For resetting styles(provided by broeser) of the commonly styled elemets*/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, header, nav, main, footer {
    margin: 0;
    padding: 0;
}
/*Styling the navigation links*/
header{
    border-bottom: 2px solid darkolivegreen;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px; 
}

.nav-site-logo{
    height: 50px;
}

/* Navigation links */
.nav-links {
    list-style: none; /* Removes bullets */
    display: flex;    /* Horizontally align items */
    gap: 15px;        /* Adds space between links */
}


main{
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero_section{
    text-align: center;
}
.meet_ash, .what_ash_eats, .how_old_is_ash, .faq{
    background:orange;
    border-bottom: 2px solid darkolivegreen;

} 
footer{
    background: #000;
    height: 400px;
    padding: 20px;
}

.footer-container{
    color: white;
}

.footer-links{
   list-style: none;

}

.copyright{

}