/*For resetting styles(provided by browser) at global level*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*For resetting styles(provided by broeser) of the commonly styled elemets*/
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, header, nav, main, footer {
    margin: 0;
    padding: 0;
}

/*Styling the navigation links*/
header{
    border-bottom: 2px solid darkolivegreen;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px; 
}
.nav-site-logo{
    height: 50px;
}
/* Navigation links */
.nav-links {
    a:hover{
        color: #000;
    }
    list-style: none; /* Removes bullets */
    display: flex;    /* Horizontally align items */
    gap: 15px;        /* Adds space between links */
}

main{
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero_section{
    text-align: center;
}
.meet_ash, .what_ash_eats, .how_old_is_ash, .faq{
    background:orange;
    border-bottom: 2px solid darkolivegreen;

} 
.address{
    
}

footer {
    background: #000; /* Black background */
    padding: 20px; /* Inner spacing */
}
.footer-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between; /* Space out links and copyright section */
    min-height: 400px; /* Minimum height of the footer */
}
.footer-links{
   list-style: none;
   a:hover{
    color: white;
   }

}
.footer-bottom {
    color: white;
    display: flex;
    justify-content: center;
    gap: 600px; /* Space between spans */
}
